.left {
    width: 40%;
}

.right {
    margin-bottom: -118px;
}

.items {
    position: relative;
}

.title {
    font-family: Bold, sans-serif;
    font-size: 36px;
    line-height: 36px;
}

.desc {
    font-size: 16px;
    line-height: 17px;
    font-family: Medium, sans-serif;

    margin-top: 3px;
}