.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 80px;

    padding: 0 var(--padding);

    background: #fff;
    box-shadow: 0 8px 23px #0000000d;
}

a.logo {
    text-decoration: none;
    color: unset;
}

.logo img {
    width: 70px;
}

.login {
    padding: 10px 20px;
    color: #fff;
    border-radius: 6px;
}
