.items {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    margin-top: 12px;

    overflow: hidden;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    padding: 56px;
}

.customizedButton {
    margin-top: auto;
}