.title {
    font-family: Bold, sans-serif;
    font-size: 21px;
    line-height: 28px;

    margin-top: 5px;
}

.desc {
    font-size: 15px;
    line-height: 20px;

    color: #777e90;

    margin-bottom: 30px;
    margin-top: 5px;
}