.footer {
    padding: 30px var(--padding);
    margin-top: 65px;
    padding-bottom: 50px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 28px;

    border-bottom: 1px solid #e6e8ec;
}

.mid {
    display: flex;
    justify-content: space-between;

    margin-top: 70px;
    padding-bottom: 40px;
}

.protect {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 20px;

    font-size: 15px;
}

.info {
    color: #777e90;
    font-size: 15px;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid #e6e8ec;
    padding-top: 20px;
}